Package: com.simalary.passless
Name: Passless
Architecture: iphoneos-arm
Description: Disable the passcode after resprings.
Maintainer: Chris Harper (Simalary) <19harperc@gmail.com>
Author: Chris Harper (Simalary) <19harperc@gmail.com>
Section: Tweaks
Depends: dev.theos.orion (= 0.9.1), firmware (>= 14.0)
Version: 0.0.1
Installed-Size: 176
